NaverNewsCrawler/네이버뉴스_남양유업_2021-07-18_11시45분.xlsx
NaverNewsCrawler/.ipynb_checkpoints/Untitled-checkpoint.ipynb
ReferenceCode/.ipynb_checkpoints/text_mining(english)-checkpoint.ipynb
Stat_CODE/.ipynb_checkpoints/Pearson-checkpoint.ipynb
TextMining/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
참조논문/
data/
한이음프로젝트.txt
esg_data/
NaverNewsCrawling/.ipynb_checkpoints/cj제일제당 월별크롤링-checkpoint.ipynb
DartAPICrawling/.ipynb_checkpoints/매출액 데이터 크롤링-checkpoint.ipynb
